<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>IMPRes</title>

	<!-- Bootstrap core CSS -->
	<!--<link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- Custom styles for this template -->
	<link href="/imp_css/jumbotron.css" rel="stylesheet">
	<!--<link href="mycss.css" rel="stylesheet">-->
</head>

<style stype="text/css">
	html,
	body {
		background: #e9ecef;
		width: 100%;
	}

	.slideShine {
		background: #000 -webkit-linear-gradient(left, #000, #fff 50%, #fff 90%, #000) no-repeat 0 0;
		background-size: 20% 100%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		/* font-size: 36px;
     text-align: center;
     font-weight: bold; */
		text-decoration: underline;
	}

	.slideShine {
		-webkit-animation: slideShine 4s linear infinite;
		animation: slideShine 4s linear infinite;
	}

	@-webkit-keyframes slideShine {
		0% {
			background-position: 0 0;
		}
		100% {
			background-position: 100% 100%;
		}
	}

	@keyframes slideShine {
		0% {
			background-position: 0 0;
		}
		100% {
			background-position: 100% 100%;
		}
	}
</style>

<body>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

		<a class="navbar-brand" href="/impres">HOME</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse flex-row-reverse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/impres/info">Info</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/impres/job">New Job</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/impres/tutorial">Tutorial</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/impres/tool">Tools</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="modal fade" id="copyModal" tabindex="-1" role="dialog" aria-labelledby="copyModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Well Done</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Your task ID has been copied!
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-dark" data-dismiss="modal">Got it</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-5 pt-5">
			<div class="col-6 d-flex flex-column justify-content-center border-right border-dark">
				<h1 class="display-1 d-flex justify-content-center slideShine" id="title1">IMPRes</h1>
				<h1 class="display-4 d-flex justify-content-center slideShine pb-2" id="title2">Processing...</h1>

				<div class="d-flex justify-content-center mt-3">
					<button class="btn btn-dark" onclick="window.location.href='/impres<%=datadir%>'" id="btnResult" type="button" disabled>
						<span class="spinner-grow spinner-grow-sm" id="loadingSpan" role="status" aria-hidden="true"></span>
						Loading...
					</button>
				</div>
			</div>

			<div class="col-6">
				<div class="card border-dark" style="width: 25rem; margin: auto;">
					<div class="card-header  text-center">
						<b>Task Infoamtion</b>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<b>Organism:</b>
							<%= info.organism %>
						</li>
						<li class="list-group-item">
							<b>Algorithm:</b>
							<% if (info.radioalgo === 'option1'){ %>
								IMPRes 1.0
								<% } else { %>
									IMPRes-Pro
									<% } %>
						</li>
						<li class="list-group-item">
							<b>Target genes:</b>
							<% if (info.radiotarget === 'option1'){ %>
								Uploaded target
								<% } else{ %>
									Derive target genes automatically
									<% } %>

						</li>
						<% if (info.radiotarget === 'option2'){ %>
							<li class="list-group-item">
								<b>Targetnum:</b>
								<%= info.targetnum %>
							</li>
							<% } %>
								<li class="list-group-item">
									<b>Expression data file:</b>
									<%= info.dataradio %>
								</li>
								<% if (info.timepoint != undefined){ %>
									<li class="list-group-item">
										<b>Timepoint:</b>
										<%= info.timepoint %>
									</li>
									<li class="list-group-item">
										<b>Replicate:</b>
										<%= info.replicate %>
									</li>
									<% } else{ %>
										<li class="list-group-item">
											<b>Controlsam:</b>
											<%= info.controlsam %>
										</li>
										<li class="list-group-item">
											<b>Casesam:</b>
											<%= info.casesam %>
										</li>
										<% } %>
					</ul>
				</div>
			</div>
		</div>

		<div class="row d-flex justify-content-center mt-5">
			<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
				<button type="button" class="btn btn-dark" id="btnCopy">Copy the ID</button>
				<button type="button" class="btn btn-dark" id="btnID" disabled>
					<%= id %>
				</button>
			</div>
		</div>
		
		<div class="row d-flex flex-column mt-3">
			<p class = "text-danger d-flex justify-content-center">
				Your job is running. The waiting time could vary from minutes to hour.

			</p>
			<p class = "text-danger d-flex justify-content-center">
				You could wait on the page or copy the task ID and come back later to check.
			</p>
		</div>

	</div>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script>
		function isDone() {
			// console.log("1s...");
			var Url = '/impres/status/';
			var data = {
				datadir: "<%= datadir%>"
			};
			$.post(Url, data, function(data, status) {
				if (data == "1") {
					clearInterval(interval);
					var btnTmp = document.getElementById("btnResult");
					btnTmp.removeChild(document.getElementById("loadingSpan"));
					btnTmp.removeAttribute("disabled");
					btnTmp.innerHTML = "Check Results...";
					document.getElementById("title1").classList.remove("slideShine");
					document.getElementById("title2").classList.remove("slideShine");
				}
			});
		}
		var interval = setInterval("isDone()", "10000");
		// 	Create a copy button	
		$('#btnCopy').click(function() {
			const input = document.createElement('input');
			document.body.appendChild(input);
			input.setAttribute('readonly', 'readonly')
			input.setAttribute('value', $('#btnID').text().trim());
			$(input).select();
			// input.setSelectionRange(0, 9999);
			if (document.execCommand('copy')) {
				document.execCommand('copy');
				$('#copyModal').modal('show');
			}
			document.body.removeChild(input);
		})
	</script>
</body>

</html>